apiVersion: apps/v1
kind: Deployment
metadata:
  name: ml-api
  labels:
    app: ml-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ml-api
  template:
    metadata:
      labels:
        app: ml-api
    spec:
      containers:
        - name: ml-api
          image: localhost/ml-api:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8000
          env:
            - name: MODEL_PATH
              value: /mnt/model/model.joblib
          volumeMounts:
            - mountPath: /mnt/model
              name: model-pv
      volumes:
        - name: model-pv
          persistentVolumeClaim:
            claimName: model-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: ml-api-svc
spec:
  type: ClusterIP
  selector:
    app: ml-api
  ports:
    - port: 8000
      targetPort: 8000
