apiVersion: apps/v1
kind: Deployment
metadata:
  name: mlflow
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mlflow
  template:
    metadata:
      labels:
        app: mlflow
    spec:
      containers:
        - name: mlflow
          image: ghcr.io/mlflow/mlflow:v3.8.1
          env:
            - name: MLFLOW_TRACKING_URI
              value: sqlite:///mlflow.db
            - name: MLFLOW_SERVER_ENABLE_PROXY_FIX
              value: "true"
          ports:
            - containerPort: 5000
          args:
            - mlflow
            - server
            - --backend-store-uri=sqlite:///mlflow.db
            - --default-artifact-root=/mlflow
            - --host=0.0.0.0
            - --serve-artifacts
            - --allowed-hosts=mlflow-svc:5000,mlflow-svc.mlops-dev:5000,localhost:5000
          resources:
            requests:
              cpu: 500m
              memory: 1Gi
            limits:
              cpu: 2
              memory: 4Gi
          volumeMounts:
            - mountPath: /mlflow
              name: mlflow-pv
      volumes:
        - name: mlflow-pv
          persistentVolumeClaim:
            claimName: mlflow-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: mlflow-svc
spec:
  selector:
    app: mlflow
  ports:
    - port: 5000
      targetPort: 5000
